/* #navigation {
    position: fixed!important;
    background-color: transparent;
} */

.site-header-inner {
    height: 70px;
}

.header-nav a.button {
    margin-left: 22px;
}

.header-nav a:not(.button) {
    padding: 1px 22px;
}



.navigation {
    position: fixed!important;
    background-color: transparent;
    transition: 0.8s ease-in-out;
    /* background-color:rgb(0, 225, 255); */
}

.nav-active {
    background-color: #fff;
    box-shadow: 5px -1px 12px -5px grey;
    transition: 0.3s ease-in-out;
}


/* .nav-colored {background-color: red!important;}
.nav-transparent {background-color: blue;} */

.header-nav a:not(.button) { 
    text-decoration: none!important;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    letter-spacing: 1px;
    color:#2E3458;
    opacity: .7;
}

.header-nav a:not(.button):hover { 
    opacity: 1;
}

.header-nav a.button {
    text-decoration: none!important;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    letter-spacing: 1px;
}

.hero-figure.reveal-from-bottom.is-revealed{
    margin-top:0px;
}


.illustration-section-01::after {
    content: '';
    position: absolute;
    width: 100%;
    max-width: 100%;
    height: 870px;
    /* background-image: url(https://res.cloudinary.com/mselbekk-com/image/upload/v1615409661/illustration-section-01_1_hijxfd.svg)!important; */
    background-image: url(https://res.cloudinary.com/mselbekk-com/image/upload/v1615409832/illustration-section-01_1_1_h0mkph.svg)!important;
    background-repeat: no-repeat;
    background-size: auto;
    left: 50%;
    top: 0;
    background-position: center top;
    -webkit-transform: translate(-50%);
    transform: translate(-50%);
}

section.anchor {
    width: 100%;
    margin-bottom: 220px;
}

.section-inner.globe {
    padding-bottom: 0px!important;
}

.section-inner.paper {
    padding-top: 120px;
}




h1 {
    font-size: 48px;
    font-family: 'Roboto', sans-serif;
}


p.subtitle{
    color: #b4b4b4;
    font-family: 'Roboto', sans-serif;
}






h2 {
    font-size: 25px;
    margin-bottom: 60px!important;
    font-family: 'Roboto', sans-serif;
}

p.name {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    /* color: #4162FA; */
    color: #bbc3f5;
    font-size: 1rem;
    margin-bottom: 0px;
    margin-top: 10px;
}

p.title {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 0.8rem;
    color: #838383;
}

.row-three{
    max-width: 944px;
    padding-left: 24px;
    padding-right: 24px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.row-one{
    max-width: 944px;
    padding-left: 24px;
    padding-right: 24px;
    margin: 0 auto;
    /* display: grid;
    grid-template-columns: 1fr 1fr 1fr; */
}

p.about {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 0.8rem;
    color: #838383;
    margin-top: 16px;
}

.block-one {
    /* background-color: aqua; */
}

.block-two {
    /* background-color: #fff; */
}


.block-three {
    /* background-color: green; */
}


.row-three img {
    width: 150px;
}



#resources-big {
    /* background: linear-gradient(to bottom, rgba(233,236,248,0) 0%, #e9ecf8 100%); */
    /* box-shadow: -9px 7px 14px -4px rgba(0, 0, 0, 0.25); */

    
}


#resources {
    padding-bottom: 10px
}


.tab-panel img {
        box-shadow: -9px 7px 14px -4px rgba(0, 0, 0, 0.25);
}



h6, .h6, small, .text-sm {
    font-size: 12px;
    line-height: 28px;
    letter-spacing: 1px;
}

h2.token {
    margin-bottom: 20px!important;
}






section.contact {
    background-color: #151719;
}

.row-contact{
    max-width: 500px;
    padding-left: 24px;
    padding-right: 24px;
    margin: 0 auto;
    /* display: grid;
    grid-template-columns: 1fr 1fr 1fr; */
    /* background-color: red; */
    /* min-height: 500px; */
    padding-bottom: 140px;
}

h2.contact{
    color: #fff;
    padding-top: 60px!important;
}

/* input[type="input"], input[type="text"], input[type="password"], input[type="email"], textarea {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
} */


input {
    width: 100%;
    margin-bottom: 20px;
    padding: 10px;
    border: 2px solid #33363A;
    /* box-shadow: 0px 5px 10px rgb(146 146 146 / 13%); */
    border-radius: 2px;
    color: #f9f9fa!important;
    /* font-family: 'Montserrat', sans-serif; */
    font-size: 15px;
    background-color:transparent;
    font-family: 'Roboto', sans-serif;
    /* box-shadow: 0px 0px 0px !important; */
}

textarea {
    /* max-width: 400px; */
    width: 100%;
    min-height: 82px;
    margin-bottom: 20px;
    padding: 10px;
    border: 2px solid #33363A;
    /* box-shadow: 0px 5px 10px rgb(146 146 146 / 13%); */
    border-radius: 2px;
    color: rgb(255, 255, 255);
    font-size: 13px;
    background-color:transparent;
    border-color: #33363A;
    font-family: 'Roboto', sans-serif;
}

button.press {
    width: 100%;
    padding: 10px;
    border: none;
    /* background-color: #5D5DFF; */
    border-radius: 2px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 1px;
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(
        0deg
        , #0A2FFE 1px, #3D5AFE 2px, #7085FE 100%);
            background-origin: border-box;
            font-size: 14px;
        
}

label input:focus {
    outline: 0;
    border-color: rgb(196, 196, 196)!important;
  }

  ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #fff;
    opacity: 1; /* Firefox */
  }






@media only screen and (max-width: 910px) {

    .row-three{
        max-width: 944px;
        padding-left: 24px;
        padding-right: 24px;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 1fr;
    }

    .row-one {
        text-align: left;
    }

    .illustration-section-01::after {
        content: '';
        position: absolute;
        width: 100%;
        max-width: 100%;
        height: 870px;
        /* background-image: url(https://res.cloudinary.com/mselbekk-com/image/upload/v1615409661/illustration-section-01_1_hijxfd.svg)!important; */
        background-image: url(https://res.cloudinary.com/mselbekk-com/image/upload/v1615459234/Group_1_z65om3.svg)!important;
        background-repeat: no-repeat;
        background-size: auto;
        left: 50%;
        top: 0;
        background-position: center top;
        -webkit-transform: translate(-50%);
        transform: translate(-50%);
    }

h1 {

    font-size: 35px;
}

p.subtitle {
    font-size: 20px;
}

  }


  @media only screen and (max-width: 550px) {

    h1 {

        font-size: 28px;
    }
    
    p.subtitle {
        font-size: 18px;
    }

    h6, .h6, small, .text-sm {
        font-size: 9px;
    }

    .hero-content br {display: none;}

  }


